@import "../styles/mixins";
@import "../styles/variables";

.aboutme__section {
  @include flex-center-xy(row, center, center);

  & .hero {
    display: flex;
    gap: 2%;
    height: 60%;
    width: 80%;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }

    &__content {
      display: inline-block;
      height: 60%;

      &--name {
        display: block;
        font-size: 4rem;
        font-weight: bold;
        color: $primary-color;
        white-space: nowrap;

        @media (max-width: 768px) {
          & {
            font-size: 2.5rem;
          }
        }
      }

      & .esTyping {
        width: 13ch;
        animation: typing 2s steps(13), blink 0.5s infinite step-end alternate;
        overflow: hidden;
      }
      & .enTyping {
        width: 10ch;
        animation: typing 2s steps(10), blink 0.5s infinite step-end alternate;
        overflow: hidden;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      &--text {
        font-size: 1.5rem;
      }

      &--buttons {
        display: inline-block;
        width: 80%;
        gap: 1rem;
        padding: 2rem 0;

        & button {
          margin: 0 10px;
          height: 100%;
          padding: 12px 24px;
          border-radius: 2rem;

          &.contactBtn {
            background: $nav-button-bg;
            color: #ffffff;
            border: 1px solid #ffffff;
          }
          &.downloadCvBtn {
            background-color: transparent;
            color: #ffffff;
            border: 1px solid #000000;
          }
        }
        & button:hover {
          position: relative;
          cursor: pointer;
          transition: 0.5s;
          transform: scale(1.2) perspective(1000px) rotateX(10deg)
            rotateY(10deg);
          box-shadow: 8px 8px 12px -1px #777;
        }
      }
    }

    &__image {
      display: inline-block;
      width: 40%;

      &--animation {
        width: 100%;
        animation-name: entrada;
        animation-duration: 4s;
      }

      @media (max-width: 768px) {
        & {
          width: 80%;
        }
      }
      @keyframes entrada {
        0% {
          opacity: 0;
          transform: scale(0.1);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
