@import '../../styles/variables';
@import '../../styles/mixins'; 

.responsive__header {
    display: none;
    
    @media (max-width: 768px) {
        display: flex;
        width: 100%;
        background-color: $dark-bg-header;
        justify-content: flex-end;

        & .menu__button {
            margin: 0 15px;
        }
    }
}

.web__header{
    @include flex-center-x(space-evenly, column);
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: $dark-bg-header;
    gap: 20px;
    align-items: center;
    
    @media (max-width: 768px) {
        display: none;
        position: relative;
    }


    & .language__selector{
        width: 30%;
        font-size: 15px;
        color: #ffffff;
        background-color: $dark-bg-header;
        border: none;      

    }

    & .menu__button {
        display: none;

        @media (max-width: 768px) {            
            display: inline-block;
            margin: 0 20px;
            align-self: flex-end;
        }
    }

    & .profile {
        color: #ffffff;
        text-align: center;
    
        &__picture{
            @include flex-center-x(center, row); 
            padding: 1rem; 
        }

        &__image{
            @include flex-center-xy(column, center, center);
            width: 200px;
            height: 200px;
            background-color: #ffffff;
            border-radius: 100px;
            overflow: hidden;

            &--img {
                width: 100%;
            }

        }
        @media (max-width: 768px) {
            &__picture {
                padding: 0.5rem
            }

            &__image {
                width: 150px; 
                height: 150px; 
            }
        }
    }

    &__nav{
        @include flex-center-xy(column, center, center);
        width: 90%;
        gap: 15px;


        &--item{
            width: 60%;
            text-align: center;
            text-decoration: none;
            border-radius: 20px;
            padding: 12px 24px;
            color: #ffffff;
            background-color: $nav-button-bg;
            transition: 0.4s;
        }
        &--item:hover{
            background-color: #ffffff;
            color: $nav-button-bg;
            width: 70%;
        }

        @media (max-width: 768px) {
            &--item {
                padding: 6px 12px;
            }
        }
    }

    &__icons{
        @include flex-col; 
        gap: 0.5rem;

        &--row-1, &--row-2 {
            display: flex;
            gap: 1rem;
        }

        &--row-1:hover, &--row-2:hover{
            cursor: pointer;
        }
    }

}
