//import styles reset 
@use './styles/reset';
//Import styles functions
@use './styles/mixins';



/*==================
COMPONENTS IMPORTS 
==================*/

@use './App';
@use './components/Header/Header';
@use './components/navbar/Navbar';
@use './components/Header/ResponsiveHeader';

/*==================
PAGES IMPORTS 
==================*/

@use './pages/AboutMe';
@use './pages/ContactMe';
@use './pages/Projects';
@use './pages/Certifications';

/*==================
LAYOUT STYLES 
==================*/
#root {
    display: grid;
    grid-template-columns: 2fr 10fr;
    min-height: 100vh;
    position: relative;


    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}